<div class="page-header">
  <%= link_to recipe_apps_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New recipe_app</h1>
</div>

<%= render 'form' %>
